This Jupyter notebook demonstrates a simple but reasonably standard use of the support vector machine (SVM) algorithm. For better or worse, the mathematical details behind this algorithm are beyond the technical background required of this notebook's audience. The mathematically sophisticated (or simply adventurous) student can visit https://en.wikipedia.org/wiki/Support_vector_machine to see a more exact treatment of what the algorithm does, and https://en.wikipedia.org/wiki/Convex_optimization for a glimpse of exactly how and why it works.

We begin with a (fictional) dataset describing 300 young basketball players. The first two columns gives each player's height in inches and 100m in seconds, as measured during the senior year season. The third column indicates whether each player did (1) or did not (0) end up playing basketball on a college team. We think of height and sprint times as predictive variables and college playing as an output to be predicted.

But first, the boring bits. Let's import the various libraries we'll need for this exercise.

In [1]:
# various imports
import numpy as np
import os
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import io
import requests
import tarfile
from sklearn import svm

Next we need to grab the data. Finding, importing, and formatting data sets is its own art, but today we're lucky: the data exists as a .csv file and is already formatted neatly. To ensure everything worked as intended, we display two different ways of summarizing the data.

In [5]:
url="https://raw.githubusercontent.com/mathewphilipc/fromScratchDS/master/dunk_data.csv"
s=requests.get(url).content
data=pd.read_csv(io.StringIO(s.decode('utf-8')))

In [3]:
data.head()

   Athlete_ID     Height     Sprint  College
0           1  73.617769  11.177916        1
1           2  74.288237  11.828745        0
2           3  72.972113  11.680184        0
3           4  74.351292  12.501294        1
4           5  72.827937  12.170944        0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
Athlete_ID    300 non-null int64
Height        300 non-null float64
Sprint        300 non-null float64
College       300 non-null int64
dtypes: float64(2), int64(2)
memory usage: 9.4 KB