In [1]:
# various imports
import numpy as np
import os
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import io
import requests
import tarfile

In [2]:
# grab data
# https://stackoverflow.com/questions/32400867/pandas-read-csv-from-url

url="https://raw.githubusercontent.com/mathewphilipc/deepSuperCon/master/SC_Magpie_Sep2017.csv"
s=requests.get(url).content
physdata=pd.read_csv(io.StringIO(s.decode('utf-8')))

In [3]:
physdata.head()

,name,Tc,NComp,Comp_L2Norm,Comp_L3Norm,Comp_L5Norm,Comp_L7Norm,Comp_L10Norm,mean_Number,maxdiff_Number,...,max_SpaceGroupNumber,min_SpaceGroupNumber,most_SpaceGroupNumber,frac_sValence,frac_pValence,frac_dValence,frac_fValence,CanFormIonic,MaxIonicChar,MeanIonicChar
0,Ba0.4K0.6Fe2As2,31.20,4.0,0.583781,0.506891,0.459606,0.441643,0.428710,30.360000,37.0,...,229.0,166.0,197.5,0.198312,0.126582,0.675105,0.000000,0.0,0.370230,0.101293
1,Ca0.4Ba1.25La1.25Cu3O6.98,40.10,5.0,0.606413,0.557901,0.543545,0.542136,0.541937,22.677795,49.0,...,229.0,12.0,12.0,0.277798,0.340779,0.381423,0.000000,0.0,0.803211,0.321647
2,Mo0.39Ru0.61,6.90,2.0,0.724017,0.659084,0.622509,0.613736,0.610693,43.220000,2.0,...,229.0,194.0,194.0,0.138504,0.000000,0.861496,0.000000,0.0,0.000400,0.000190
3,Tm4Os6Sn19,1.10,3.0,0.700772,0.663969,0.655637,0.655203,0.655173,58.000000,26.0,...,194.0,141.0,141.0,0.126638,0.082969,0.493450,0.296943,0.0,0.201983,0.036805
4,Nd1Bi0.99Pb0.01S2F0.3O0.7,4.85,6.0,0.512258,0.435720,0.405168,0.400893,0.400075,36.658000,75.0,...,225.0,12.0,70.0,0.187652,0.286921,0.187652,0.337774,0.0,0.866866,0.228340

In [4]:
physdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16415 entries, 0 to 16414
Columns: 147 entries, name to MeanIonicChar
dtypes: float64(146), object(1)
memory usage: 18.4+ MB

In [6]:
# for comparison, fetch housing data
import tarfile
from six.moves import urllib

DOWNLOAD_ROOT = "https://raw.githubusercontent.com/ageron/handson-ml/master/"
HOUSING_PATH = os.path.join("datasets", "housing")
HOUSING_URL = DOWNLOAD_ROOT + "datasets/housing/housing.tgz"

def fetch_housing_data(housing_url=HOUSING_URL, housing_path=HOUSING_PATH):
    if not os.path.isdir(housing_path):
        os.makedirs(housing_path)
    tgz_path = os.path.join(housing_path, "housing.tgz")
    urllib.request.urlretrieve(housing_url, tgz_path)
    housing_tgz = tarfile.open(tgz_path)
    housing_tgz.extractall(path=housing_path)
    housing_tgz.close()

fetch_housing_data()

def load_housing_data(housing_path=HOUSING_PATH):
    csv_path = os.path.join(housing_path, "housing.csv")
    return pd.read_csv(csv_path)

housing = load_housing_data()
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [7]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [12]:
# more comparison: fetch physdata cut off after 10 features
url="https://raw.githubusercontent.com/mathewphilipc/HandsOnDeep/master/SC_Magpie_Sep2017_abridged.csv"
s=requests.get(url).content
abridgedphysdata=pd.read_csv(io.StringIO(s.decode('utf-8')))

abridgedphysdata.head()

,name,Tc,NComp,Comp_L2Norm,Comp_L3Norm,Comp_L5Norm,Comp_L7Norm,Comp_L10Norm,mean_Number,maxdiff_Number,dev_Number
0,Ba0.4K0.6Fe2As2,31.20,4.0,0.583781,0.506891,0.459606,0.441643,0.428710,30.360000,37.0,6.214400
1,Ca0.4Ba1.25La1.25Cu3O6.98,40.10,5.0,0.606413,0.557901,0.543545,0.542136,0.541937,22.677795,49.0,16.074864
2,Mo0.39Ru0.61,6.90,2.0,0.724017,0.659084,0.622509,0.613736,0.610693,43.220000,2.0,0.951600
3,Tm4Os6Sn19,1.10,3.0,0.700772,0.663969,0.655637,0.655203,0.655173,58.000000,26.0,10.482759
4,Nd1Bi0.99Pb0.01S2F0.3O0.7,4.85,6.0,0.512258,0.435720,0.405168,0.400893,0.400075,36.658000,75.0,27.869600

In [11]:
abridgedphysdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16415 entries, 0 to 16414
Data columns (total 11 columns):
name              16414 non-null object
Tc                16415 non-null float64
NComp             16415 non-null float64
Comp_L2Norm       16415 non-null float64
Comp_L3Norm       16415 non-null float64
Comp_L5Norm       16415 non-null float64
Comp_L7Norm       16415 non-null float64
Comp_L10Norm      16415 non-null float64
mean_Number       16415 non-null float64
maxdiff_Number    16415 non-null float64
dev_Number        16415 non-null float64
dtypes: float64(10), object(1)
memory usage: 1.4+ MB

In [ ]:
# The reason for all these extra datasets:
# If I use the Magpie data in its raw form, it has "columns" but if housing,
# that has "Data columns" BUT if I truncate Magpie but otherwise don't touch
# it, the result has "Data columns." I was worried, but given that I can
# induce the name change just by adjusting the number of columns I assume it
# doesn't refer to anything different about the data type, just an
# abbreviation. Proceed with caution, but proceed.